<h2>Freelancers</h2>

<%= render 'search' %>

<%= link_to "Available", freelancers_path(availability: "Available"), class:"btn btn-default" %>
<%= link_to "Just my business", freelancers_path(business: current_user.business ), class:"btn btn-default" %>

<% @freelancers.each do |freelancer| %>
        <p><%= link_to freelancer.first_name, freelancer_path(freelancer.id) %></p>
        <p><%= freelancer.business %></p>
        <p><%= freelancer.field %></p>
        <p><%= freelancer.availability %></p>
<% end %>

<%= will_paginate %>
