<h2><%= @freelancer.first_name %> <%= @freelancer.last_name %></h2>

<p><%= @freelancer.location %></p>
<p><%= @freelancer.business %></p>
<p><%= @freelancer.field %></p>
<p><%= @freelancer.education %></p>
<p><%= @freelancer.availability %></p>
<p><%= @freelancer.pay_rate %></p>

<p><%= @freelancer.description %></p>
