<nav class="navbar">
  <div class="container">

    <div class="pull-left">
      <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
    </div>

    <% if !user_signed_in? %>
    <div class="pull-right user-login">
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-sm btn-primary' %>or <%= link_to 'Register', new_user_registration_path, class: 'btn btn-sm btn-primary' %>
    </div>
    <% end %>

    <!-- Navigation menu -->
    <ul class="nav-menu">
      <li>
          <%= link_to 'Jobs', jobs_path %>
      </li>
      <% if user_signed_in? && current_user.type === 'Freelancer' %>
      <li>
          <%= link_to 'Employers', employers_path %>
      </li>
      <% end %>
      <% if user_signed_in? && current_user.type === 'Employer' %>
      <li>
        <%= link_to 'Freelancers', freelancers_path %>
      </li>
      <% end %>
      <li>
        <%= link_to 'About', pages_about_path %>
      </li>
      <li>
        <%= link_to 'Contact', pages_contact_path %>
      </li>
      <li>
        <%= link_to 'Blogs', pages_blogs_path %>
      </li>
    </ul>
    <!-- END Navigation menu -->
  </div>
</nav>








<!--


<ul>
  <% if user_signed_in? %>

    <li><%= link_to edit_user_registration_path do %>
      <p>
        <i class="fa fa-user text-center" aria-hidden="true"></i>
      account
      </p>
      <% end %>
    </li>

    <% else %>

    <li>
      <%= link_to new_user_session_path do %>
      <p>
        <i class="fa fa-sign-in text-center" aria-hidden="true"></i>
      login
      </p>
      <% end %>
    </li>

    <li>
      <%= link_to new_user_registration_path do %>
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>
      register
      </p>
      <% end %>
    </li>

  <% end %>

  <% if user_signed_in? %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <p>
        <i class="fa fa-times text-center" aria-hidden="true"></i>
      log-out
      </p>
      <% end %>
    </li>

  <% end %>



  <% if user_signed_in? && current_user.type === 'Freelancer'%>
    <li>
      <%= link_to employers_path do %>
      <p>
        <i class="fa fa-building-o text-center" aria-hidden="true"></i>
        employers
      </p>
      <% end %>
    </li>

    <li>
      <%= link_to jobs_path do %>
      <p>
        <i class="fa fa-briefcase text-center" aria-hidden="true"></i>
        jobs
      </p>
      <% end %>
    </li>
  <% end %>



  <% if user_signed_in? && current_user.type === 'Employer'%>
    <li>
      <%= link_to freelancers_path do %>
      <p>
        <i class="fa fa-building-o text-center" aria-hidden="true"></i>
        freelancers
      </p>
      <% end %>
    </li>
  <% end %>
</ul> -->
